/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montseerat', sans-serif;
    background-color: black;
   
} */

body{
    background-color: #111;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    text-align: center;
}