/* 
 inline style=" "
 internal <style>
 external(.css)

*/

/* 
    { *  ---- universal selector

        element selector --- div,id,p,h1,

       #name id -not repeTABLE
       .name class - repetable 
     
       }
*/
*{

    box-sizing: border-box;
}
input[type="email"]{
    color: rebeccapurple;
    font-size: 20px;
    border-radius: 20px;
    height: 50px;

    padding-left: 10px;
    /* background-color: red; */
}
/* Reset Margin and Padding *